// Front page styling

.block .views-row {
  margin-top: 10px;
}

.front .row {
  display: table;
}

@mixin frontpage-block {
  flex: 1;
  //min-width: 30%;
  //max-width: 30%;
  //min-height: 25vw;
  //max-height: 25vw;
  //max-width: 15vw;
  //min-width: 15vw;
  //display: inline-block;
  //margin: $gutterMargin;
  padding: $gutterPadding;
  //position: relative;
  //float: left;
  //background-image: url('../assets/img/card-background.png');
  //background-size: cover;
  @include box-shadow;
  text-align: center;
  margin: 0 20px 20px 0;
  min-width: 33%;

}

.region-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.front .region-content section:nth-child(1) {
  @include frontpage-block;
  background-color: $block-background-color-one;
}

.front .region-content section:nth-child(2) {
  @include frontpage-block;
  background-color: $block-background-color-two;
}

.front .region-content section:nth-child(3) {
  @include frontpage-block;
  background-color: $block-background-color-three;
}

.front .region-content section:nth-child(4) {
  @include frontpage-block;
  background-color: $block-background-color-four;

  .view-content {
    display: none;
  }
}

#block-views-recently-read-block, #block-views-view-all-projects-nodes-block-1 {
  padding: 0;
}

.block-title, .view-recently-read h2, .view-recently-read span, .view-recently-read .view-header {
  color: $primaryColorWhite;
}

.front .views-field {
  font-size: $font-size-block;
  color: $primaryColorWhite;
}

.block-title {
  padding: 1vw;
  font-family: Druk;
}

#block-block-1 {
  overflow: hidden;
}

#block-views-recently-read-block, #block-views-view-all-projects-nodes-block-1, #block-views-view-all-companies-block-1, #block-views-view-all-invoices-block, #block-views-view-all-invoices-block-1, #block-views-my-files-block-1, #block-views-view-callback-requests-block-1 {
  padding: 0;
  overflow: hidden;

  .view-recently-read, .view-view-all-projects-nodes, .view-view-all-companies, .view-view-all-invoices, .view-my-files, .view-view-callback-requests {
    width: 100%;
    height: auto;
    margin-bottom: 10%;
    .view-header {
      padding: 1vw;
      position: relative;
      width: 100%;
      z-index: 99;
      font-size: $font-size-block;
      color: $primaryColorWhite;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none;
    }

    .view-content {
      overflow: hidden;
      position: relative;
      z-index: 1;
      padding-top: 1vh;
      padding-bottom: 1vh;
    }

    p, a {
      color: $primaryColorWhite;
    }

    a {
      text-decoration: underline;

      &:hover {
        color: $primaryColorRed;
      }
    }

    span {
      font-size: $font-size-block;
    }
  }
}

.front {
  #view-view-callback-requests {
    .view-content {
      display: none;
    }
  }

  #block-views-view-all-invoices-block-1 {
    .views-field {
      font-size: $font-size-big;
    }
  }

  .more-link {
    position: absolute;
    bottom: 20px;
    right: 20px;

    a{
      color: $primaryColorWhite !important;
    }
  }
}

@media screen and (max-width: 880px) {
  .front .region-content section:nth-child(1), .front .region-content section:nth-child(2), .front .region-content section:nth-child(3) {
    min-height: 40vh;
    max-height: 40vh;
    overflow: scroll;
  }

  #block-views-recently-read-block .view-recently-read .view-header {
    font-size: $font-size-normal;
  }

  .node-type-content-type-project .row {
    margin-left: 0;
  }
}

#block-views-my-files-block-1, #block-views-view-all-companies-block-1 {
  .view-content {
    display: none;
  }
}