.node-type-content-type-company {
  .page-header {
    color: $primaryColorDarkGrey;
  }

  .row {
    top: 10vh;
    display: flex;
  }

  .page-header {
    font-size: $font-size-enormous;
  }

  .nav-tabs {
    display: none;
  }

  .field-name-field-company-address, .field-name-field-company-email, .field-name-field-company-project, .field-name-field-company-teamleader-link, .field-name-field-company-telephone, .field-name-field-company-remarks, .field-name-field-company-account-manager {
    @include box-shadow;
    background-color: $primaryColorWhite;
    padding: 0 $gutterPadding $gutterPadding $gutterPadding;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 30px;
    margin-right: 10px;

    h3, .field-label {
      padding-bottom: 2px;
      padding-top: 10px;
      font-size: 25px;
    }

    .field-items {
      text-align: center;
      margin-top: 15px;
    }
  }

  .field-name-field-company-teamleader-id {
    display: none;
  }

  #node-content-type-company-detail {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    overflow: visible;
    h3 {
      display: none;
    }
  }

  #line-break {
    flex-basis: 100%;
  }

  .teamleader-avatar {
    border-radius: 50%;
    width: 20%;
  }
}