@mixin box-shadow{
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
}

.node-type-content-type-project {

  .page-header {
    color: $primaryColorDarkGrey;
  }

  .row {
    top: 10vh;
  }

  .page-header {
    font-size: $font-size-enormous;
  }

  .nav-tabs {
    display: none;
  }

  #node-content-type-project-detail div.field, #node-content-type-project-milestones, #node-content-type-project-timetracking, #block-enorm-milestones-enorm-milestones {
    @include box-shadow;
    background-color: $primaryColorWhite;
    padding: 0 $gutterPadding $gutterPadding $gutterPadding;
    display: inline-block;
    position: relative;
    float: left;
    min-width: 22%;
    max-width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 30px;
    margin-right: 10px;

    h3, .field-label{
      border-bottom: 1px solid $primaryColorBlack;
      padding-bottom: 2px;
      padding-top: 10px;
      font-size: 25px;
    }
  }

  #block-enorm-milestones-enorm-milestones {
    min-width: 50%;
    float: right;
    h2 {
      display: none;
    }
  }

  #node-content-type-project-timetracking {
    float: right;
    h3{
      display: none;
    }
  }

  .field-group-format-title {
    color: $primaryColorBlack;
  }

  .milestone-percentage-container {
    @include box-shadow;
    width: 100%;
    background-color: #ddd;
    margin-bottom: 10vh;
  }

  .milestone-percentage-bar {
    height: 30px;
    background-color: #009688;
    text-align: center;
    line-height: 30px;
    color: white;
  }

  .field-name-field-project-hours-spent {
    text-align: center;
    padding: 20px;
    .field-item {
      font-size: $font-size-enormous;

      p{
        font-size: 14px;
      }
    }
  }

  .percentage-done-hidden {
    display: none;
  }

  .project-expiring {
    text-align: center;
    p {
      text-align: left;
    }
  }

  .milestones-contact-button {
    @include box-shadow;
    background-color: transparent;
    border-radius: 1px;
    color: $primaryColorRed;
    border: 1px solid $primaryColorRed;
    padding: 10px;
    margin-top: 10px;
    font-family: 'Druk';
    font-size: 23px;
  }

  #node-content-type-project-detail {
    h3 {
      display: none;
    }
  }

  .field-name-field-project-participants {
    float: left;
  }
}


