// Primary colors
$primaryColorRed: #CC0C00;
$primaryColorWhite:#FFFFFF;
$primaryColorBlack:#2A2A2A;
$primaryColorGrey:#EFEFEF;

$font-standard: Roboto;
$font-size-normal: 20px;

$font-h4: Roboto;
$h4-size-normal: 36px;