// Primary colors
$primaryColorRed: #CC0C00;
$primaryColorWhite: #FFFFFF;
$primaryColorBlack: #2A2A2A;
$primaryColorGrey: #EFEFEF;
$primaryColorDarkGrey: #2A2A2A;

$font-standard: Roboto;
$font-size-normal: 20px;

$font-h4: Roboto;
$h4-size-normal: 36px;
$h4-color-red: #CC0C00;
$h4-color-black: #000000;
