// Primary colors
$primaryColorRed: #CC0C00;
$primaryColorWhite: #FFFFFF;
$primaryColorBlack: #2A2A2A;
$primaryColorGrey: #EFEFEF;
$primaryColorDarkGrey: #2A2A2A;
$primaryColorLightGrey: #3F3F3F;

// Secondary Colors
$secondaryColorGreen: #009688;
$secondaryColorOrange: #FF9800;
$secondaryColorBlueGrey: #607D8B;
$secondaryColorBrown: #795548;
$secondaryColorIndigo: #3F51B5;


// Block colors
$block-background-color-one: $primaryColorDarkGrey;
$block-background-color-two: $primaryColorLightGrey;
$block-background-color-three: $primaryColorGrey;



$block-highlight-color:  rgba(113, 113, 113, 0.5);

// Font settings
$font-standard: Roboto;
$font-size-small: 15px;
$font-size-block: 17px;
$font-size-normal: 20px;
$font-size-medium: 25px;
$font-size-big: 30px;
$font-size-enormous: 45px;
$font-h4: Roboto;
$h4-size-normal: 36px;
$h4-color-red: #CC0C00;
$h4-color-black: #000000;

// Margin and padding settings
$gutterMargin: 5px;
$gutterPadding: 20px;

// Mixins
@mixin box-shadow{
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
}

