@import "variables.scss";
@import "header.scss";
@import "home.scss";

body {
  background-color: $primaryColorWhite;
  overflow-x: hidden;
}

.main-container {
  margin: 0 auto;
}

.front .col-sm-9 {
  margin: 0 auto;
}

.row {
  position: relative;
  top: 15vh;
  margin-left: 10vw;
}

.notVisible {
  visibility: hidden;
}

.col-sm-9 {
  margin: 0 auto;
}

.company-search-form-company-id {
  border: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.not-logged-in .row {
  margin-left: 0;
}

.not-logged-in .col-sm-4 {
  //background-color: rgba();
  padding: 40px;
  border-radius: 3px;
}

.not-logged-in {
  background-image: url("/sites/all/themes/enorm/assets/img/background.png");
  background-size: cover;
}

//.page-user-login .col-sm-12{
//  width: 33.33333333%;
//}

@media screen and (min-width: 1439px) {
  #block-search-form {
    left: 10vw;
  }
}


