@import "variables.scss";
@import "header.scss";

body {
  background-color: $primaryColorWhite;
}

.hidden {
  display: none;
}

// Front page styling

.block .views-row {
  margin-top: 10px;
}

@mixin frontpage-block {
  min-height: 70vh;
  max-width: 30%;
  min-width: 30%;
  display: inline-block;
  float: left;
  margin: $gutterMargin;
  padding: $gutterPadding;
  background-image: url('../assets/img/card-background.png');
  background-size: cover;
  text-align: center;
}

.front .region-content section:nth-child(1) {
  @include frontpage-block;
}

.front .region-content section:nth-child(2) {
  @include frontpage-block;
}

.front .region-content section:nth-child(3) {
  @include frontpage-block;
}

#block-views-recently-read-block {
  padding: 0;
}

.block-title, .view-recently-read h2, .view-recently-read span, .view-recently-read .view-header {
  color: $primaryColorWhite;
}

.view-recently-read {
  width: 100%;
  background-color: rgba(113,113,113,0.5);
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-top: 50%;

  .view-header {
    font-size: $font-size-big;

    &:hover {
      cursor: pointer;
    }
  }
}
