@import "variables.scss";
@import "header.scss";

body {
  background-color: $primaryColorWhite;
}

// Menu bar styling
.page-header, .block-title {
  color: $primaryColorRed;
}

#navbar {
  min-width: 100%;
  display: inline-block;
  border: none;
  margin-top: 0;
  margin-left:0;
  background-color: $primaryColorDarkGrey;
  border-radius: 0;
}

.navbar-btn > img {
  width: 32px;
  height: auto;
}

.navbar-default .navbar-nav > .active > a {
  background-color: $primaryColorWhite;
  color: $primaryColorRed;
}

.navbar-default .navbar-nav > li > a {
  color: $primaryColorWhite;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: $primaryColorDarkGrey;
  background-color: $primaryColorWhite;
}

#block-system-powered-by {
  display: none;
}

.navbar-brand {
  color: $primaryColorWhite !important;
}

// Front page styling

.block .views-row {
  margin-top: 10px;
}

.front .region-content section:nth-child(1) {
  max-width: 33%;
  min-width: 33%;
  background-color: black;
  display: inline-block;

}

.front .region-content section:nth-child(2) {
  min-width: 33%;
  max-width: 33%;
  background-color: red;
  display: inline-block;
  margin: 0 auto;
}

.front .region-content section:nth-child(3) {
  max-width: 33%;
  background-color: green;
  display: inline-block;
  float: left;
}

