.main-container {
  margin-left: 0;
  padding-left: 0; }

.page-header {
  color: #CC0C00; }

#navbar {
  display: none; }

.region-sidebar-first {
  text-align: center;
  min-width: 10vw;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  background-color: #2A2A2A;
  border: 0;
  border-radius: 0;
  padding: 0; }

#block-menu-menu-menu-vertical {
  background-color: #2A2A2A;
  width: 100%; }

#block-system-powered-by {
  display: none; }

.nav a {
  color: #FFFFFF; }
  .nav a:hover {
    color: #CC0C00;
    background-color: #3F3F3F !important; }
  .nav a:active {
    background-color: #3F3F3F;
    color: #CC0C00; }

.menu li.active {
  background-color: #FFFFFF; }
  .menu li.active a {
    color: #CC0C00; }
    .menu li.active a:hover, .menu li.active a:focus {
      background-color: #FFFFFF !important; }

.menu li.active a:hover, .menu li.active a:focus {
  background-color: #2A2A2A !important; }

.menu li.first {
  background-color: #2A2A2A; }

@media screen and (max-height: 909px) {
  #block-search-form {
    width: 90vw;
    height: 8vh;
    position: absolute;
    top: 0;
    left: 11vw;
    background-color: #2A2A2A; }
  .content-search {
    background-color: #2A2A2A;
    min-height: 20px;
    border-radius: 0; }
  .content-search > div {
    height: 4vh; }
  .content-search .input-group {
    background-color: #3F3F3F;
    border-radius: 0;
    border: 0;
    width: 50%;
    margin-left: 5vw;
    margin-top: 1.3vh; }
  .content-search input {
    background-color: #3F3F3F;
    border: 0;
    border-radius: 0; }
  .content-search .input-group-btn {
    margin-top: 2.5vh; } }

@media screen and (min-height: 909px) {
  .region-header {
    width: 90vw;
    height: 5vh;
    position: absolute;
    top: 0;
    left: 10vw;
    background-color: #2A2A2A;
    box-shadow: inset 0 -1px 0 0 #e4e4e6; }
  .content-search {
    min-height: 20px;
    border-radius: 0; }
  .content-search > div {
    height: 4vh; }
  .content-search .input-group {
    background-color: #3F3F3F;
    border-radius: 0;
    border: 0;
    width: 50%;
    margin-left: 5vw;
    margin-top: 0.5vh; }
  .content-search input {
    background-color: #3F3F3F;
    border: 0;
    border-radius: 0; }
  .content-search .input-group-btn {
    margin-top: 2.5vh; } }

footer {
  border: 0 !important; }

.hero-image {
  width: 50%;
  height: auto; }

.nav li:nth-child(1) {
  margin-top: 2vh; }

.nav li:nth-child(2) {
  margin-top: 5vh; }

.block .views-row {
  margin-top: 10px; }

.front .row {
  display: table;
  margin: 0 auto; }

.front .region-content section:nth-child(1) {
  min-height: 25vw;
  max-height: 25vw;
  max-width: 15vw;
  min-width: 15vw;
  display: inline-block;
  padding: 20px;
  position: relative;
  float: left;
  -webkit-box-shadow: -5px 2px 30px -7px gray;
  -moz-box-shadow: -5px 2px 30px -7px gray;
  box-shadow: -5px 2px 30px -7px gray;
  text-align: center;
  margin: 0 2px;
  background-color: #2A2A2A; }

.front .region-content section:nth-child(2) {
  min-height: 25vw;
  max-height: 25vw;
  max-width: 15vw;
  min-width: 15vw;
  display: inline-block;
  padding: 20px;
  position: relative;
  float: left;
  -webkit-box-shadow: -5px 2px 30px -7px gray;
  -moz-box-shadow: -5px 2px 30px -7px gray;
  box-shadow: -5px 2px 30px -7px gray;
  text-align: center;
  margin: 0 2px;
  background-color: #3F3F3F;
  left: 12.5%; }

.front .region-content section:nth-child(3) {
  min-height: 25vw;
  max-height: 25vw;
  max-width: 15vw;
  min-width: 15vw;
  display: inline-block;
  padding: 20px;
  position: relative;
  float: left;
  -webkit-box-shadow: -5px 2px 30px -7px gray;
  -moz-box-shadow: -5px 2px 30px -7px gray;
  box-shadow: -5px 2px 30px -7px gray;
  text-align: center;
  margin: 0 2px;
  background-color: #EFEFEF;
  left: 25%; }

#block-views-recently-read-block, #block-views-view-all-projects-nodes-block-1 {
  padding: 0; }

.block-title, .view-recently-read h2, .view-recently-read span, .view-recently-read .view-header {
  color: #FFFFFF; }

.front .views-field {
  font-size: 17px;
  color: #FFFFFF; }

.block-title {
  padding: 1vw; }

#block-views-recently-read-block, #block-views-view-all-projects-nodes-block-1, #block-views-view-all-companies-block-1, #block-views-view-all-invoices-block, #block-views-view-all-invoices-block-1, #block-views-my-files-block-1 {
  padding: 0; }
  #block-views-recently-read-block .view-recently-read, #block-views-recently-read-block .view-view-all-projects-nodes, #block-views-recently-read-block .view-view-all-companies, #block-views-recently-read-block .view-view-all-invoices, #block-views-recently-read-block .view-my-files, #block-views-view-all-projects-nodes-block-1 .view-recently-read, #block-views-view-all-projects-nodes-block-1 .view-view-all-projects-nodes, #block-views-view-all-projects-nodes-block-1 .view-view-all-companies, #block-views-view-all-projects-nodes-block-1 .view-view-all-invoices, #block-views-view-all-projects-nodes-block-1 .view-my-files, #block-views-view-all-companies-block-1 .view-recently-read, #block-views-view-all-companies-block-1 .view-view-all-projects-nodes, #block-views-view-all-companies-block-1 .view-view-all-companies, #block-views-view-all-companies-block-1 .view-view-all-invoices, #block-views-view-all-companies-block-1 .view-my-files, #block-views-view-all-invoices-block .view-recently-read, #block-views-view-all-invoices-block .view-view-all-projects-nodes, #block-views-view-all-invoices-block .view-view-all-companies, #block-views-view-all-invoices-block .view-view-all-invoices, #block-views-view-all-invoices-block .view-my-files, #block-views-view-all-invoices-block-1 .view-recently-read, #block-views-view-all-invoices-block-1 .view-view-all-projects-nodes, #block-views-view-all-invoices-block-1 .view-view-all-companies, #block-views-view-all-invoices-block-1 .view-view-all-invoices, #block-views-view-all-invoices-block-1 .view-my-files, #block-views-my-files-block-1 .view-recently-read, #block-views-my-files-block-1 .view-view-all-projects-nodes, #block-views-my-files-block-1 .view-view-all-companies, #block-views-my-files-block-1 .view-view-all-invoices, #block-views-my-files-block-1 .view-my-files {
    width: 100%;
    height: auto;
    margin-top: 10%; }
    #block-views-recently-read-block .view-recently-read .view-header, #block-views-recently-read-block .view-view-all-projects-nodes .view-header, #block-views-recently-read-block .view-view-all-companies .view-header, #block-views-recently-read-block .view-view-all-invoices .view-header, #block-views-recently-read-block .view-my-files .view-header, #block-views-view-all-projects-nodes-block-1 .view-recently-read .view-header, #block-views-view-all-projects-nodes-block-1 .view-view-all-projects-nodes .view-header, #block-views-view-all-projects-nodes-block-1 .view-view-all-companies .view-header, #block-views-view-all-projects-nodes-block-1 .view-view-all-invoices .view-header, #block-views-view-all-projects-nodes-block-1 .view-my-files .view-header, #block-views-view-all-companies-block-1 .view-recently-read .view-header, #block-views-view-all-companies-block-1 .view-view-all-projects-nodes .view-header, #block-views-view-all-companies-block-1 .view-view-all-companies .view-header, #block-views-view-all-companies-block-1 .view-view-all-invoices .view-header, #block-views-view-all-companies-block-1 .view-my-files .view-header, #block-views-view-all-invoices-block .view-recently-read .view-header, #block-views-view-all-invoices-block .view-view-all-projects-nodes .view-header, #block-views-view-all-invoices-block .view-view-all-companies .view-header, #block-views-view-all-invoices-block .view-view-all-invoices .view-header, #block-views-view-all-invoices-block .view-my-files .view-header, #block-views-view-all-invoices-block-1 .view-recently-read .view-header, #block-views-view-all-invoices-block-1 .view-view-all-projects-nodes .view-header, #block-views-view-all-invoices-block-1 .view-view-all-companies .view-header, #block-views-view-all-invoices-block-1 .view-view-all-invoices .view-header, #block-views-view-all-invoices-block-1 .view-my-files .view-header, #block-views-my-files-block-1 .view-recently-read .view-header, #block-views-my-files-block-1 .view-view-all-projects-nodes .view-header, #block-views-my-files-block-1 .view-view-all-companies .view-header, #block-views-my-files-block-1 .view-view-all-invoices .view-header, #block-views-my-files-block-1 .view-my-files .view-header {
      padding: 1vw;
      position: relative;
      width: 100%;
      z-index: 99;
      font-size: 17px;
      background-color: rgba(113, 113, 113, 0.5);
      color: #FFFFFF;
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;
      /* Non-prefixed version, currently
                                       supported by Chrome and Opera */ }
    #block-views-recently-read-block .view-recently-read .view-content, #block-views-recently-read-block .view-view-all-projects-nodes .view-content, #block-views-recently-read-block .view-view-all-companies .view-content, #block-views-recently-read-block .view-view-all-invoices .view-content, #block-views-recently-read-block .view-my-files .view-content, #block-views-view-all-projects-nodes-block-1 .view-recently-read .view-content, #block-views-view-all-projects-nodes-block-1 .view-view-all-projects-nodes .view-content, #block-views-view-all-projects-nodes-block-1 .view-view-all-companies .view-content, #block-views-view-all-projects-nodes-block-1 .view-view-all-invoices .view-content, #block-views-view-all-projects-nodes-block-1 .view-my-files .view-content, #block-views-view-all-companies-block-1 .view-recently-read .view-content, #block-views-view-all-companies-block-1 .view-view-all-projects-nodes .view-content, #block-views-view-all-companies-block-1 .view-view-all-companies .view-content, #block-views-view-all-companies-block-1 .view-view-all-invoices .view-content, #block-views-view-all-companies-block-1 .view-my-files .view-content, #block-views-view-all-invoices-block .view-recently-read .view-content, #block-views-view-all-invoices-block .view-view-all-projects-nodes .view-content, #block-views-view-all-invoices-block .view-view-all-companies .view-content, #block-views-view-all-invoices-block .view-view-all-invoices .view-content, #block-views-view-all-invoices-block .view-my-files .view-content, #block-views-view-all-invoices-block-1 .view-recently-read .view-content, #block-views-view-all-invoices-block-1 .view-view-all-projects-nodes .view-content, #block-views-view-all-invoices-block-1 .view-view-all-companies .view-content, #block-views-view-all-invoices-block-1 .view-view-all-invoices .view-content, #block-views-view-all-invoices-block-1 .view-my-files .view-content, #block-views-my-files-block-1 .view-recently-read .view-content, #block-views-my-files-block-1 .view-view-all-projects-nodes .view-content, #block-views-my-files-block-1 .view-view-all-companies .view-content, #block-views-my-files-block-1 .view-view-all-invoices .view-content, #block-views-my-files-block-1 .view-my-files .view-content {
      position: relative;
      z-index: 1;
      background-color: rgba(113, 113, 113, 0.5);
      padding-top: 1vh;
      padding-bottom: 1vh; }
    #block-views-recently-read-block .view-recently-read p, #block-views-recently-read-block .view-recently-read a, #block-views-recently-read-block .view-view-all-projects-nodes p, #block-views-recently-read-block .view-view-all-projects-nodes a, #block-views-recently-read-block .view-view-all-companies p, #block-views-recently-read-block .view-view-all-companies a, #block-views-recently-read-block .view-view-all-invoices p, #block-views-recently-read-block .view-view-all-invoices a, #block-views-recently-read-block .view-my-files p, #block-views-recently-read-block .view-my-files a, #block-views-view-all-projects-nodes-block-1 .view-recently-read p, #block-views-view-all-projects-nodes-block-1 .view-recently-read a, #block-views-view-all-projects-nodes-block-1 .view-view-all-projects-nodes p, #block-views-view-all-projects-nodes-block-1 .view-view-all-projects-nodes a, #block-views-view-all-projects-nodes-block-1 .view-view-all-companies p, #block-views-view-all-projects-nodes-block-1 .view-view-all-companies a, #block-views-view-all-projects-nodes-block-1 .view-view-all-invoices p, #block-views-view-all-projects-nodes-block-1 .view-view-all-invoices a, #block-views-view-all-projects-nodes-block-1 .view-my-files p, #block-views-view-all-projects-nodes-block-1 .view-my-files a, #block-views-view-all-companies-block-1 .view-recently-read p, #block-views-view-all-companies-block-1 .view-recently-read a, #block-views-view-all-companies-block-1 .view-view-all-projects-nodes p, #block-views-view-all-companies-block-1 .view-view-all-projects-nodes a, #block-views-view-all-companies-block-1 .view-view-all-companies p, #block-views-view-all-companies-block-1 .view-view-all-companies a, #block-views-view-all-companies-block-1 .view-view-all-invoices p, #block-views-view-all-companies-block-1 .view-view-all-invoices a, #block-views-view-all-companies-block-1 .view-my-files p, #block-views-view-all-companies-block-1 .view-my-files a, #block-views-view-all-invoices-block .view-recently-read p, #block-views-view-all-invoices-block .view-recently-read a, #block-views-view-all-invoices-block .view-view-all-projects-nodes p, #block-views-view-all-invoices-block .view-view-all-projects-nodes a, #block-views-view-all-invoices-block .view-view-all-companies p, #block-views-view-all-invoices-block .view-view-all-companies a, #block-views-view-all-invoices-block .view-view-all-invoices p, #block-views-view-all-invoices-block .view-view-all-invoices a, #block-views-view-all-invoices-block .view-my-files p, #block-views-view-all-invoices-block .view-my-files a, #block-views-view-all-invoices-block-1 .view-recently-read p, #block-views-view-all-invoices-block-1 .view-recently-read a, #block-views-view-all-invoices-block-1 .view-view-all-projects-nodes p, #block-views-view-all-invoices-block-1 .view-view-all-projects-nodes a, #block-views-view-all-invoices-block-1 .view-view-all-companies p, #block-views-view-all-invoices-block-1 .view-view-all-companies a, #block-views-view-all-invoices-block-1 .view-view-all-invoices p, #block-views-view-all-invoices-block-1 .view-view-all-invoices a, #block-views-view-all-invoices-block-1 .view-my-files p, #block-views-view-all-invoices-block-1 .view-my-files a, #block-views-my-files-block-1 .view-recently-read p, #block-views-my-files-block-1 .view-recently-read a, #block-views-my-files-block-1 .view-view-all-projects-nodes p, #block-views-my-files-block-1 .view-view-all-projects-nodes a, #block-views-my-files-block-1 .view-view-all-companies p, #block-views-my-files-block-1 .view-view-all-companies a, #block-views-my-files-block-1 .view-view-all-invoices p, #block-views-my-files-block-1 .view-view-all-invoices a, #block-views-my-files-block-1 .view-my-files p, #block-views-my-files-block-1 .view-my-files a {
      color: #FFFFFF; }
    #block-views-recently-read-block .view-recently-read a, #block-views-recently-read-block .view-view-all-projects-nodes a, #block-views-recently-read-block .view-view-all-companies a, #block-views-recently-read-block .view-view-all-invoices a, #block-views-recently-read-block .view-my-files a, #block-views-view-all-projects-nodes-block-1 .view-recently-read a, #block-views-view-all-projects-nodes-block-1 .view-view-all-projects-nodes a, #block-views-view-all-projects-nodes-block-1 .view-view-all-companies a, #block-views-view-all-projects-nodes-block-1 .view-view-all-invoices a, #block-views-view-all-projects-nodes-block-1 .view-my-files a, #block-views-view-all-companies-block-1 .view-recently-read a, #block-views-view-all-companies-block-1 .view-view-all-projects-nodes a, #block-views-view-all-companies-block-1 .view-view-all-companies a, #block-views-view-all-companies-block-1 .view-view-all-invoices a, #block-views-view-all-companies-block-1 .view-my-files a, #block-views-view-all-invoices-block .view-recently-read a, #block-views-view-all-invoices-block .view-view-all-projects-nodes a, #block-views-view-all-invoices-block .view-view-all-companies a, #block-views-view-all-invoices-block .view-view-all-invoices a, #block-views-view-all-invoices-block .view-my-files a, #block-views-view-all-invoices-block-1 .view-recently-read a, #block-views-view-all-invoices-block-1 .view-view-all-projects-nodes a, #block-views-view-all-invoices-block-1 .view-view-all-companies a, #block-views-view-all-invoices-block-1 .view-view-all-invoices a, #block-views-view-all-invoices-block-1 .view-my-files a, #block-views-my-files-block-1 .view-recently-read a, #block-views-my-files-block-1 .view-view-all-projects-nodes a, #block-views-my-files-block-1 .view-view-all-companies a, #block-views-my-files-block-1 .view-view-all-invoices a, #block-views-my-files-block-1 .view-my-files a {
      text-decoration: underline; }
      #block-views-recently-read-block .view-recently-read a:hover, #block-views-recently-read-block .view-view-all-projects-nodes a:hover, #block-views-recently-read-block .view-view-all-companies a:hover, #block-views-recently-read-block .view-view-all-invoices a:hover, #block-views-recently-read-block .view-my-files a:hover, #block-views-view-all-projects-nodes-block-1 .view-recently-read a:hover, #block-views-view-all-projects-nodes-block-1 .view-view-all-projects-nodes a:hover, #block-views-view-all-projects-nodes-block-1 .view-view-all-companies a:hover, #block-views-view-all-projects-nodes-block-1 .view-view-all-invoices a:hover, #block-views-view-all-projects-nodes-block-1 .view-my-files a:hover, #block-views-view-all-companies-block-1 .view-recently-read a:hover, #block-views-view-all-companies-block-1 .view-view-all-projects-nodes a:hover, #block-views-view-all-companies-block-1 .view-view-all-companies a:hover, #block-views-view-all-companies-block-1 .view-view-all-invoices a:hover, #block-views-view-all-companies-block-1 .view-my-files a:hover, #block-views-view-all-invoices-block .view-recently-read a:hover, #block-views-view-all-invoices-block .view-view-all-projects-nodes a:hover, #block-views-view-all-invoices-block .view-view-all-companies a:hover, #block-views-view-all-invoices-block .view-view-all-invoices a:hover, #block-views-view-all-invoices-block .view-my-files a:hover, #block-views-view-all-invoices-block-1 .view-recently-read a:hover, #block-views-view-all-invoices-block-1 .view-view-all-projects-nodes a:hover, #block-views-view-all-invoices-block-1 .view-view-all-companies a:hover, #block-views-view-all-invoices-block-1 .view-view-all-invoices a:hover, #block-views-view-all-invoices-block-1 .view-my-files a:hover, #block-views-my-files-block-1 .view-recently-read a:hover, #block-views-my-files-block-1 .view-view-all-projects-nodes a:hover, #block-views-my-files-block-1 .view-view-all-companies a:hover, #block-views-my-files-block-1 .view-view-all-invoices a:hover, #block-views-my-files-block-1 .view-my-files a:hover {
        color: #CC0C00; }
    #block-views-recently-read-block .view-recently-read span, #block-views-recently-read-block .view-view-all-projects-nodes span, #block-views-recently-read-block .view-view-all-companies span, #block-views-recently-read-block .view-view-all-invoices span, #block-views-recently-read-block .view-my-files span, #block-views-view-all-projects-nodes-block-1 .view-recently-read span, #block-views-view-all-projects-nodes-block-1 .view-view-all-projects-nodes span, #block-views-view-all-projects-nodes-block-1 .view-view-all-companies span, #block-views-view-all-projects-nodes-block-1 .view-view-all-invoices span, #block-views-view-all-projects-nodes-block-1 .view-my-files span, #block-views-view-all-companies-block-1 .view-recently-read span, #block-views-view-all-companies-block-1 .view-view-all-projects-nodes span, #block-views-view-all-companies-block-1 .view-view-all-companies span, #block-views-view-all-companies-block-1 .view-view-all-invoices span, #block-views-view-all-companies-block-1 .view-my-files span, #block-views-view-all-invoices-block .view-recently-read span, #block-views-view-all-invoices-block .view-view-all-projects-nodes span, #block-views-view-all-invoices-block .view-view-all-companies span, #block-views-view-all-invoices-block .view-view-all-invoices span, #block-views-view-all-invoices-block .view-my-files span, #block-views-view-all-invoices-block-1 .view-recently-read span, #block-views-view-all-invoices-block-1 .view-view-all-projects-nodes span, #block-views-view-all-invoices-block-1 .view-view-all-companies span, #block-views-view-all-invoices-block-1 .view-view-all-invoices span, #block-views-view-all-invoices-block-1 .view-my-files span, #block-views-my-files-block-1 .view-recently-read span, #block-views-my-files-block-1 .view-view-all-projects-nodes span, #block-views-my-files-block-1 .view-view-all-companies span, #block-views-my-files-block-1 .view-view-all-invoices span, #block-views-my-files-block-1 .view-my-files span {
      font-size: 17px; }

.front #block-views-view-all-invoices-block-1 .views-field {
  font-size: 30px; }

.front .more-link {
  position: absolute;
  bottom: -40px;
  left: 0;
  padding: 20px; }
  .front .more-link a {
    color: #CC0C00 !important; }

@media screen and (max-width: 880px) {
  .front .region-content section:nth-child(1), .front .region-content section:nth-child(2), .front .region-content section:nth-child(3) {
    min-height: 40vh;
    max-height: 40vh;
    overflow: scroll; }
  #block-views-recently-read-block .view-recently-read .view-header {
    font-size: 20px; } }

#block-views-my-files-block-1 .view-content, #block-views-view-all-companies-block-1 .view-content {
  display: none; }

.field-name-field-project-teamleader-id,
.field-name-field-project-company-id {
  display: none; }

.page-node .submitted {
  display: none; }

.node-type-content-type-project .page-header {
  color: #2A2A2A; }

.node-type-content-type-project .row {
  top: 10vh;
  display: flex; }

.node-type-content-type-project .page-header {
  font-size: 45px; }

.node-type-content-type-project .nav-tabs {
  display: none; }

.node-type-content-type-project #node-content-type-project-detail div.field, .node-type-content-type-project #node-content-type-project-milestones, .node-type-content-type-project #node-content-type-project-timetracking, .node-type-content-type-project #block-enorm-milestones-custom, .node-type-content-type-project #absolute-done, .node-type-content-type-project .project-expiring, .node-type-content-type-project #block-views-view-all-notes-block, .node-type-content-type-project #timetracking-container {
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
  background-color: #FFFFFF;
  padding: 0 20px 20px 20px;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 30px;
  margin-right: 10px; }
  .node-type-content-type-project #node-content-type-project-detail div.field h3, .node-type-content-type-project #node-content-type-project-detail div.field .field-label, .node-type-content-type-project #node-content-type-project-milestones h3, .node-type-content-type-project #node-content-type-project-milestones .field-label, .node-type-content-type-project #node-content-type-project-timetracking h3, .node-type-content-type-project #node-content-type-project-timetracking .field-label, .node-type-content-type-project #block-enorm-milestones-custom h3, .node-type-content-type-project #block-enorm-milestones-custom .field-label, .node-type-content-type-project #absolute-done h3, .node-type-content-type-project #absolute-done .field-label, .node-type-content-type-project .project-expiring h3, .node-type-content-type-project .project-expiring .field-label, .node-type-content-type-project #block-views-view-all-notes-block h3, .node-type-content-type-project #block-views-view-all-notes-block .field-label, .node-type-content-type-project #timetracking-container h3, .node-type-content-type-project #timetracking-container .field-label {
    padding-bottom: 2px;
    padding-top: 10px;
    font-size: 25px; }
  .node-type-content-type-project #node-content-type-project-detail div.field .field-items, .node-type-content-type-project #node-content-type-project-milestones .field-items, .node-type-content-type-project #node-content-type-project-timetracking .field-items, .node-type-content-type-project #block-enorm-milestones-custom .field-items, .node-type-content-type-project #absolute-done .field-items, .node-type-content-type-project .project-expiring .field-items, .node-type-content-type-project #block-views-view-all-notes-block .field-items, .node-type-content-type-project #timetracking-container .field-items {
    text-align: center;
    margin-top: 15px; }

.node-type-content-type-project .project-expiring {
  background-color: #009688;
  max-width: 25%; }
  .node-type-content-type-project .project-expiring p {
    padding-top: 10px; }

.node-type-content-type-project #absolute-done {
  font-size: 13px;
  text-align: center; }
  .node-type-content-type-project #absolute-done h3 {
    font-size: 45px;
    border: 0;
    color: #009688; }

.node-type-content-type-project #timetracking-container {
  font-size: 12px;
  text-align: center; }
  .node-type-content-type-project #timetracking-container h3 {
    font-size: 45px;
    border: 0;
    color: #009688; }

.node-type-content-type-project #block-enorm-milestones-enorm-milestones h2 {
  display: none; }

.node-type-content-type-project #block-enorm-milestones-custom {
  min-width: calc(44% + 10px);
  float: left; }

.node-type-content-type-project #node-content-type-project-timetracking {
  float: right; }
  .node-type-content-type-project #node-content-type-project-timetracking h3 {
    display: none; }

.node-type-content-type-project .field-name-field-project-end-date {
  float: right; }

.node-type-content-type-project .field-group-format-title {
  color: #2A2A2A; }

.node-type-content-type-project .milestone-percentage-container {
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  background-color: #ddd;
  margin-bottom: 10vh; }

.node-type-content-type-project .milestone-percentage-bar {
  height: 30px;
  background-color: #009688;
  text-align: center;
  line-height: 30px;
  padding-left: 10px;
  color: white; }

.node-type-content-type-project .field-name-field-project-hours-spent {
  text-align: center;
  padding: 20px; }
  .node-type-content-type-project .field-name-field-project-hours-spent .field-item {
    font-size: 45px; }
    .node-type-content-type-project .field-name-field-project-hours-spent .field-item p {
      font-size: 14px; }

.node-type-content-type-project .percentage-done-hidden {
  display: none; }

.node-type-content-type-project .project-expiring {
  text-align: center; }
  .node-type-content-type-project .project-expiring p {
    text-align: left; }

.node-type-content-type-project .milestones-contact-button {
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
  background-color: transparent;
  border-radius: 1px;
  color: #009688;
  border: 1px solid #009688;
  padding: 10px;
  margin-top: 10px;
  font-family: 'Druk';
  font-size: 23px; }

.node-type-content-type-project #node-content-type-project-detail {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1; }
  .node-type-content-type-project #node-content-type-project-detail h3 {
    display: none; }

.node-type-content-type-project .field-name-field-project-participants .field-item {
  display: flex; }

.node-type-content-type-project .field-name-field-project-participants #participant-container {
  flex: 1;
  margin-right: 20px; }

.node-type-content-type-project #block-views-view-all-notes-block .block-title {
  display: none; }

.node-type-content-type-project #line-break {
  flex-basis: 100%; }

.node-type-content-type-project .teamleader-avatar {
  border-radius: 50%;
  margin-bottom: 10px; }

body {
  background-color: #EFEFEF;
  overflow-x: hidden; }

.main-container {
  margin: 0 auto; }

.front .col-sm-9 {
  margin: 0 auto; }

.row {
  position: relative;
  top: 15vh;
  margin-left: 10vw; }

.notVisible {
  visibility: hidden; }

.col-sm-9 {
  margin: 0 auto; }

.company-search-form-company-id {
  border: 0;
  box-shadow: none;
  -webkit-box-shadow: none; }

.not-logged-in {
  background-image: url(/sites/all/themes/enorm/assets/img/background-test.png);
  background-size: cover; }
  .not-logged-in #auth_box #bottom_part {
    padding: 15px; }
    .not-logged-in #auth_box #bottom_part a {
      color: #FFFFFF;
      text-decoration: underline; }
  .not-logged-in .alert-warning {
    display: none; }
  .not-logged-in .title {
    color: #FFFFFF; }
  .not-logged-in label {
    color: #FFFFFF; }
  .not-logged-in .row {
    margin-left: 0; }
  .not-logged-in .main-container {
    min-height: 100%; }
  .not-logged-in #auth_box #middle_part {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none; }
  .not-logged-in .form-text {
    background-color: transparent;
    color: #FFFFFF; }
  .not-logged-in #auth_box input[type="text"], .not-logged-in #auth_box input[type="password"] {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #FFFFFF;
    box-shadow: none;
    border-radius: 0 !important; }
  .not-logged-in .form-item-name-prefix {
    display: inline-block;
    float: left;
    width: 15%;
    color: #FFFFFF;
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    text-align: center;
    margin-bottom: 15px; }
  .not-logged-in .form-item-name, .not-logged-in .form-item-pass {
    display: inline-block;
    float: right;
    width: 85%; }
  .not-logged-in #auth_box input[type="text"], .not-logged-in #auth_box input[type="password"] {
    text-align: center; }
    .not-logged-in #auth_box input[type="text"]::placeholder, .not-logged-in #auth_box input[type="password"]::placeholder {
      color: #FFFFFF; }
  .not-logged-in label {
    display: none; }
  .not-logged-in .btn-primary {
    color: #2A2A2A;
    width: 100%;
    margin-top: 20px;
    border: 1px solid white;
    background-color: #EFEFEF;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s; }
    .not-logged-in .btn-primary:hover {
      background-color: transparent;
      color: #FFFFFF;
      -webkit-transition: background-color 0.2s;
      -moz-transition: background-color 0.2s;
      -ms-transition: background-color 0.2s;
      -o-transition: background-color 0.2s;
      transition: background-color 0.2s; }
  .not-logged-in .enorm-logo {
    width: 100%;
    margin-bottom: 10vh; }

@media screen and (min-width: 1439px) {
  #block-search-form {
    left: 10vw; } }

.node-type-content-type-invoice .panel-title {
  background-color: #2A2A2A;
  color: #FFFFFF !important; }

.node-type-content-type-invoice .field {
  padding-top: 2px; }

.node-type-content-type-invoice .field-name-field-invoice-company-name .field-item {
  font-size: 30px; }

.node-type-content-type-invoice .group-invoice-adminstrative {
  display: none; }

#sidr-0 {
  background-color: #2A2A2A; }

#sidr-wrapper-0 {
  background-color: #2A2A2A;
  min-height: 8vh;
  max-width: 11vw;
  text-align: center; }

#sidr-0-button {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 30px;
  width: 100%;
  height: 100%;
  position: relative;
  top: 1vh; }

.sidr-class-first {
  text-align: center; }

.sidr-class-hero-image {
  width: 30%;
  padding-top: 3vh;
  padding-bottom: 3vh; }

.sidr-class-leaf, li.sidr-class-active-trail {
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: 1px solid #EFEFEF !important;
  background-color: #2A2A2A;
  padding-bottom: 2vh; }
  .sidr-class-leaf .sidr-class-glyphicon, li.sidr-class-active-trail .sidr-class-glyphicon {
    display: none; }
  .sidr-class-leaf a, li.sidr-class-active-trail a {
    font-family: Roboto; }
  .sidr-class-leaf a.sidr-class-active, li.sidr-class-active-trail a.sidr-class-active {
    font-weight: bold;
    color: #CC0C00; }

.sidr ul li {
  line-height: 20px; }

.sidr ul li.sidr-class-active {
  line-height: 25px; }

@media screen and (max-width: 880px) {
  .form-search .input-group {
    width: 70%;
    margin-left: 10vw; } }

.page-node .field-label {
  font-weight: bold; }

.node-type-content-type-company .page-header {
  color: #2A2A2A; }

.node-type-content-type-company .row {
  top: 10vh;
  display: flex; }

.node-type-content-type-company .page-header {
  font-size: 45px; }

.node-type-content-type-company .nav-tabs {
  display: none; }

.node-type-content-type-company .field-name-field-company-address, .node-type-content-type-company .field-name-field-company-email, .node-type-content-type-company .field-name-field-company-project, .node-type-content-type-company .field-name-field-company-teamleader-link, .node-type-content-type-company .field-name-field-company-telephone, .node-type-content-type-company .field-name-field-company-remarks, .node-type-content-type-company .field-name-field-company-account-manager {
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
  background-color: #FFFFFF;
  padding: 0 20px 20px 20px;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 30px;
  margin-right: 10px; }
  .node-type-content-type-company .field-name-field-company-address h3, .node-type-content-type-company .field-name-field-company-address .field-label, .node-type-content-type-company .field-name-field-company-email h3, .node-type-content-type-company .field-name-field-company-email .field-label, .node-type-content-type-company .field-name-field-company-project h3, .node-type-content-type-company .field-name-field-company-project .field-label, .node-type-content-type-company .field-name-field-company-teamleader-link h3, .node-type-content-type-company .field-name-field-company-teamleader-link .field-label, .node-type-content-type-company .field-name-field-company-telephone h3, .node-type-content-type-company .field-name-field-company-telephone .field-label, .node-type-content-type-company .field-name-field-company-remarks h3, .node-type-content-type-company .field-name-field-company-remarks .field-label, .node-type-content-type-company .field-name-field-company-account-manager h3, .node-type-content-type-company .field-name-field-company-account-manager .field-label {
    padding-bottom: 2px;
    padding-top: 10px;
    font-size: 25px; }
  .node-type-content-type-company .field-name-field-company-address .field-items, .node-type-content-type-company .field-name-field-company-email .field-items, .node-type-content-type-company .field-name-field-company-project .field-items, .node-type-content-type-company .field-name-field-company-teamleader-link .field-items, .node-type-content-type-company .field-name-field-company-telephone .field-items, .node-type-content-type-company .field-name-field-company-remarks .field-items, .node-type-content-type-company .field-name-field-company-account-manager .field-items {
    text-align: center;
    margin-top: 15px; }

.node-type-content-type-company .field-name-field-company-teamleader-id {
  display: none; }

.node-type-content-type-company #node-content-type-company-detail {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  overflow: scroll; }
  .node-type-content-type-company #node-content-type-company-detail h3 {
    display: none; }

.node-type-content-type-company #line-break {
  flex-basis: 100%; }

.node-type-content-type-company .teamleader-avatar {
  border-radius: 50%;
  margin-bottom: px; }
