.main-container {
  margin-left: 0;
  padding-left: 0; }

.page-header {
  color: #CC0C00; }

#navbar {
  display: none; }

.region-sidebar-first {
  text-align: center;
  min-width: 10vw;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  background-color: #2A2A2A;
  border: 0;
  border-radius: 0;
  padding: 0; }

#block-menu-menu-menu-vertical {
  background-color: #2A2A2A;
  width: 100%; }

#block-system-powered-by {
  display: none; }

.nav a {
  color: #FFFFFF; }
  .nav a:hover {
    color: #CC0C00;
    background-color: #3F3F3F !important; }
  .nav a:active {
    background-color: #3F3F3F;
    color: #CC0C00; }

@media screen and (max-height: 909px) {
  #block-search-form {
    width: 90vw;
    height: 8vh;
    position: absolute;
    top: 0;
    left: 11vw;
    background-color: #2A2A2A; }
  .content-search {
    background-color: #2A2A2A;
    min-height: 20px;
    border-radius: 0; }
  .content-search > div {
    height: 4vh; }
  .content-search .input-group {
    background-color: #3F3F3F;
    border-radius: 0;
    border: 0;
    width: 50%;
    margin-left: 5vw;
    margin-top: 1.3vh; }
  .content-search input {
    background-color: #3F3F3F;
    border: 0;
    border-radius: 0; }
  .content-search .input-group-btn {
    margin-top: 2.5vh; } }

@media screen and (min-height: 909px) {
  .region-header {
    width: 90vw;
    height: 5vh;
    position: absolute;
    top: 0;
    left: 10vw;
    background-color: #2A2A2A; }
  .content-search {
    background-color: #2A2A2A;
    min-height: 20px;
    border-radius: 0; }
  .content-search > div {
    height: 4vh; }
  .content-search .input-group {
    background-color: #3F3F3F;
    border-radius: 0;
    border: 0;
    width: 50%;
    margin-left: 5vw;
    margin-top: 0.5vh; }
  .content-search input {
    background-color: #3F3F3F;
    border: 0;
    border-radius: 0; }
  .content-search .input-group-btn {
    margin-top: 2.5vh; } }

footer {
  border: 0 !important; }

.hero-image {
  width: 50%;
  height: auto; }

.nav li:nth-child(1) {
  margin-top: 2vh; }

.nav li:nth-child(2) {
  margin-top: 5vh; }

.block .views-row {
  margin-top: 10px; }

.front .region-content section:nth-child(1) {
  min-height: 70vh;
  max-width: 30%;
  min-width: 30%;
  display: inline-block;
  float: left;
  margin: 10px;
  padding: 10px;
  background-color: #3F3F3F;
  box-shadow: -1px 1px 10px 1px;
  text-align: center; }

.front .region-content section:nth-child(2) {
  min-height: 70vh;
  max-width: 30%;
  min-width: 30%;
  display: inline-block;
  float: left;
  margin: 10px;
  padding: 10px;
  background-color: #3F3F3F;
  box-shadow: -1px 1px 10px 1px;
  text-align: center; }

.front .region-content section:nth-child(3) {
  min-height: 70vh;
  max-width: 30%;
  min-width: 30%;
  display: inline-block;
  float: left;
  margin: 10px;
  padding: 10px;
  background-color: #3F3F3F;
  box-shadow: -1px 1px 10px 1px;
  text-align: center; }

#block-views-recently-read-block, #block-views-view-all-projects-nodes-block-1 {
  padding: 0; }

.block-title, .view-recently-read h2, .view-recently-read span, .view-recently-read .view-header {
  color: #FFFFFF; }

.front .views-field {
  font-size: 17px;
  color: #FFFFFF; }

.block-title {
  padding: 1vw; }

#block-views-recently-read-block, #block-views-view-all-projects-nodes-block-1, #block-views-view-all-companies-block-1, #block-views-view-all-invoices-block {
  padding: 0; }
  #block-views-recently-read-block .view-recently-read, #block-views-recently-read-block .view-view-all-projects-nodes, #block-views-recently-read-block .view-view-all-companies, #block-views-recently-read-block .view-view-all-invoices, #block-views-view-all-projects-nodes-block-1 .view-recently-read, #block-views-view-all-projects-nodes-block-1 .view-view-all-projects-nodes, #block-views-view-all-projects-nodes-block-1 .view-view-all-companies, #block-views-view-all-projects-nodes-block-1 .view-view-all-invoices, #block-views-view-all-companies-block-1 .view-recently-read, #block-views-view-all-companies-block-1 .view-view-all-projects-nodes, #block-views-view-all-companies-block-1 .view-view-all-companies, #block-views-view-all-companies-block-1 .view-view-all-invoices, #block-views-view-all-invoices-block .view-recently-read, #block-views-view-all-invoices-block .view-view-all-projects-nodes, #block-views-view-all-invoices-block .view-view-all-companies, #block-views-view-all-invoices-block .view-view-all-invoices {
    width: 100%;
    height: auto;
    margin-top: 10%; }
    #block-views-recently-read-block .view-recently-read .view-header, #block-views-recently-read-block .view-view-all-projects-nodes .view-header, #block-views-recently-read-block .view-view-all-companies .view-header, #block-views-recently-read-block .view-view-all-invoices .view-header, #block-views-view-all-projects-nodes-block-1 .view-recently-read .view-header, #block-views-view-all-projects-nodes-block-1 .view-view-all-projects-nodes .view-header, #block-views-view-all-projects-nodes-block-1 .view-view-all-companies .view-header, #block-views-view-all-projects-nodes-block-1 .view-view-all-invoices .view-header, #block-views-view-all-companies-block-1 .view-recently-read .view-header, #block-views-view-all-companies-block-1 .view-view-all-projects-nodes .view-header, #block-views-view-all-companies-block-1 .view-view-all-companies .view-header, #block-views-view-all-companies-block-1 .view-view-all-invoices .view-header, #block-views-view-all-invoices-block .view-recently-read .view-header, #block-views-view-all-invoices-block .view-view-all-projects-nodes .view-header, #block-views-view-all-invoices-block .view-view-all-companies .view-header, #block-views-view-all-invoices-block .view-view-all-invoices .view-header {
      text-decoration: underline;
      padding: 1vw;
      position: relative;
      width: 100%;
      z-index: 99;
      font-size: 25px;
      background-color: rgba(113, 113, 113, 0.5);
      color: #FFFFFF;
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;
      /* Non-prefixed version, currently
                                       supported by Chrome and Opera */ }
      #block-views-recently-read-block .view-recently-read .view-header:hover, #block-views-recently-read-block .view-view-all-projects-nodes .view-header:hover, #block-views-recently-read-block .view-view-all-companies .view-header:hover, #block-views-recently-read-block .view-view-all-invoices .view-header:hover, #block-views-view-all-projects-nodes-block-1 .view-recently-read .view-header:hover, #block-views-view-all-projects-nodes-block-1 .view-view-all-projects-nodes .view-header:hover, #block-views-view-all-projects-nodes-block-1 .view-view-all-companies .view-header:hover, #block-views-view-all-projects-nodes-block-1 .view-view-all-invoices .view-header:hover, #block-views-view-all-companies-block-1 .view-recently-read .view-header:hover, #block-views-view-all-companies-block-1 .view-view-all-projects-nodes .view-header:hover, #block-views-view-all-companies-block-1 .view-view-all-companies .view-header:hover, #block-views-view-all-companies-block-1 .view-view-all-invoices .view-header:hover, #block-views-view-all-invoices-block .view-recently-read .view-header:hover, #block-views-view-all-invoices-block .view-view-all-projects-nodes .view-header:hover, #block-views-view-all-invoices-block .view-view-all-companies .view-header:hover, #block-views-view-all-invoices-block .view-view-all-invoices .view-header:hover {
        cursor: pointer; }
    #block-views-recently-read-block .view-recently-read .view-content, #block-views-recently-read-block .view-view-all-projects-nodes .view-content, #block-views-recently-read-block .view-view-all-companies .view-content, #block-views-recently-read-block .view-view-all-invoices .view-content, #block-views-view-all-projects-nodes-block-1 .view-recently-read .view-content, #block-views-view-all-projects-nodes-block-1 .view-view-all-projects-nodes .view-content, #block-views-view-all-projects-nodes-block-1 .view-view-all-companies .view-content, #block-views-view-all-projects-nodes-block-1 .view-view-all-invoices .view-content, #block-views-view-all-companies-block-1 .view-recently-read .view-content, #block-views-view-all-companies-block-1 .view-view-all-projects-nodes .view-content, #block-views-view-all-companies-block-1 .view-view-all-companies .view-content, #block-views-view-all-companies-block-1 .view-view-all-invoices .view-content, #block-views-view-all-invoices-block .view-recently-read .view-content, #block-views-view-all-invoices-block .view-view-all-projects-nodes .view-content, #block-views-view-all-invoices-block .view-view-all-companies .view-content, #block-views-view-all-invoices-block .view-view-all-invoices .view-content {
      position: relative;
      z-index: 1;
      background-color: rgba(113, 113, 113, 0.5);
      padding-top: 1vh;
      padding-bottom: 1vh; }
    #block-views-recently-read-block .view-recently-read p, #block-views-recently-read-block .view-recently-read a, #block-views-recently-read-block .view-view-all-projects-nodes p, #block-views-recently-read-block .view-view-all-projects-nodes a, #block-views-recently-read-block .view-view-all-companies p, #block-views-recently-read-block .view-view-all-companies a, #block-views-recently-read-block .view-view-all-invoices p, #block-views-recently-read-block .view-view-all-invoices a, #block-views-view-all-projects-nodes-block-1 .view-recently-read p, #block-views-view-all-projects-nodes-block-1 .view-recently-read a, #block-views-view-all-projects-nodes-block-1 .view-view-all-projects-nodes p, #block-views-view-all-projects-nodes-block-1 .view-view-all-projects-nodes a, #block-views-view-all-projects-nodes-block-1 .view-view-all-companies p, #block-views-view-all-projects-nodes-block-1 .view-view-all-companies a, #block-views-view-all-projects-nodes-block-1 .view-view-all-invoices p, #block-views-view-all-projects-nodes-block-1 .view-view-all-invoices a, #block-views-view-all-companies-block-1 .view-recently-read p, #block-views-view-all-companies-block-1 .view-recently-read a, #block-views-view-all-companies-block-1 .view-view-all-projects-nodes p, #block-views-view-all-companies-block-1 .view-view-all-projects-nodes a, #block-views-view-all-companies-block-1 .view-view-all-companies p, #block-views-view-all-companies-block-1 .view-view-all-companies a, #block-views-view-all-companies-block-1 .view-view-all-invoices p, #block-views-view-all-companies-block-1 .view-view-all-invoices a, #block-views-view-all-invoices-block .view-recently-read p, #block-views-view-all-invoices-block .view-recently-read a, #block-views-view-all-invoices-block .view-view-all-projects-nodes p, #block-views-view-all-invoices-block .view-view-all-projects-nodes a, #block-views-view-all-invoices-block .view-view-all-companies p, #block-views-view-all-invoices-block .view-view-all-companies a, #block-views-view-all-invoices-block .view-view-all-invoices p, #block-views-view-all-invoices-block .view-view-all-invoices a {
      color: #FFFFFF; }
    #block-views-recently-read-block .view-recently-read a, #block-views-recently-read-block .view-view-all-projects-nodes a, #block-views-recently-read-block .view-view-all-companies a, #block-views-recently-read-block .view-view-all-invoices a, #block-views-view-all-projects-nodes-block-1 .view-recently-read a, #block-views-view-all-projects-nodes-block-1 .view-view-all-projects-nodes a, #block-views-view-all-projects-nodes-block-1 .view-view-all-companies a, #block-views-view-all-projects-nodes-block-1 .view-view-all-invoices a, #block-views-view-all-companies-block-1 .view-recently-read a, #block-views-view-all-companies-block-1 .view-view-all-projects-nodes a, #block-views-view-all-companies-block-1 .view-view-all-companies a, #block-views-view-all-companies-block-1 .view-view-all-invoices a, #block-views-view-all-invoices-block .view-recently-read a, #block-views-view-all-invoices-block .view-view-all-projects-nodes a, #block-views-view-all-invoices-block .view-view-all-companies a, #block-views-view-all-invoices-block .view-view-all-invoices a {
      text-decoration: underline; }
      #block-views-recently-read-block .view-recently-read a:hover, #block-views-recently-read-block .view-view-all-projects-nodes a:hover, #block-views-recently-read-block .view-view-all-companies a:hover, #block-views-recently-read-block .view-view-all-invoices a:hover, #block-views-view-all-projects-nodes-block-1 .view-recently-read a:hover, #block-views-view-all-projects-nodes-block-1 .view-view-all-projects-nodes a:hover, #block-views-view-all-projects-nodes-block-1 .view-view-all-companies a:hover, #block-views-view-all-projects-nodes-block-1 .view-view-all-invoices a:hover, #block-views-view-all-companies-block-1 .view-recently-read a:hover, #block-views-view-all-companies-block-1 .view-view-all-projects-nodes a:hover, #block-views-view-all-companies-block-1 .view-view-all-companies a:hover, #block-views-view-all-companies-block-1 .view-view-all-invoices a:hover, #block-views-view-all-invoices-block .view-recently-read a:hover, #block-views-view-all-invoices-block .view-view-all-projects-nodes a:hover, #block-views-view-all-invoices-block .view-view-all-companies a:hover, #block-views-view-all-invoices-block .view-view-all-invoices a:hover {
        color: #2A2A2A; }
    #block-views-recently-read-block .view-recently-read span, #block-views-recently-read-block .view-view-all-projects-nodes span, #block-views-recently-read-block .view-view-all-companies span, #block-views-recently-read-block .view-view-all-invoices span, #block-views-view-all-projects-nodes-block-1 .view-recently-read span, #block-views-view-all-projects-nodes-block-1 .view-view-all-projects-nodes span, #block-views-view-all-projects-nodes-block-1 .view-view-all-companies span, #block-views-view-all-projects-nodes-block-1 .view-view-all-invoices span, #block-views-view-all-companies-block-1 .view-recently-read span, #block-views-view-all-companies-block-1 .view-view-all-projects-nodes span, #block-views-view-all-companies-block-1 .view-view-all-companies span, #block-views-view-all-companies-block-1 .view-view-all-invoices span, #block-views-view-all-invoices-block .view-recently-read span, #block-views-view-all-invoices-block .view-view-all-projects-nodes span, #block-views-view-all-invoices-block .view-view-all-companies span, #block-views-view-all-invoices-block .view-view-all-invoices span {
      font-size: 17px; }

@media screen and (max-width: 880px) {
  .front .region-content section:nth-child(1), .front .region-content section:nth-child(2), .front .region-content section:nth-child(3) {
    min-height: 40vh;
    max-height: 40vh;
    overflow: scroll; }
  #block-views-recently-read-block .view-recently-read .view-header {
    font-size: 20px; } }

.field-name-field-project-teamleader-id,
.field-name-field-project-company-id {
  display: none; }

.page-node .submitted {
  display: none; }

body {
  background-color: #FFFFFF;
  overflow-x: hidden; }

.main-container {
  margin: 0 auto; }

.front .col-sm-9 {
  margin: 0 auto; }

.row {
  position: relative;
  top: 15vh;
  margin-left: 10vw; }

.notVisible {
  visibility: hidden; }

.col-sm-9 {
  margin: 0 auto; }

.company-search-form-company-id {
  border: 0;
  box-shadow: none;
  -webkit-box-shadow: none; }

.not-logged-in {
  background-image: url(/sites/all/themes/enorm/assets/img/background-test.png);
  background-size: cover; }
  .not-logged-in #auth_box #bottom_part {
    padding: 15px; }
    .not-logged-in #auth_box #bottom_part a {
      color: #FFFFFF;
      text-decoration: underline; }
  .not-logged-in .alert-warning {
    display: none; }
  .not-logged-in .title {
    color: #FFFFFF; }
  .not-logged-in label {
    color: #FFFFFF; }
  .not-logged-in .row {
    margin-left: 0; }
  .not-logged-in .main-container {
    min-height: 100%; }
  .not-logged-in #auth_box #middle_part {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none; }
  .not-logged-in .form-text {
    background-color: transparent;
    color: #FFFFFF; }
  .not-logged-in #auth_box input[type="text"], .not-logged-in #auth_box input[type="password"] {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #FFFFFF;
    box-shadow: none;
    border-radius: 0 !important; }
  .not-logged-in .form-item-name-prefix {
    display: inline-block;
    float: left;
    width: 15%;
    color: #FFFFFF;
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    text-align: center;
    margin-bottom: 15px; }
  .not-logged-in .form-item-name, .not-logged-in .form-item-pass {
    display: inline-block;
    float: right;
    width: 85%; }
  .not-logged-in #auth_box input[type="text"], .not-logged-in #auth_box input[type="password"] {
    text-align: center; }
    .not-logged-in #auth_box input[type="text"]::placeholder, .not-logged-in #auth_box input[type="password"]::placeholder {
      color: #FFFFFF; }
  .not-logged-in label {
    display: none; }
  .not-logged-in .btn-primary {
    color: #2A2A2A;
    width: 100%;
    margin-top: 20px;
    border: 1px solid white;
    background-color: #EFEFEF;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s; }
    .not-logged-in .btn-primary:hover {
      background-color: transparent;
      color: #FFFFFF;
      -webkit-transition: background-color 0.2s;
      -moz-transition: background-color 0.2s;
      -ms-transition: background-color 0.2s;
      -o-transition: background-color 0.2s;
      transition: background-color 0.2s; }
  .not-logged-in .enorm-logo {
    width: 100%;
    margin-bottom: 10vh; }

@media screen and (min-width: 1439px) {
  #block-search-form {
    left: 10vw; } }

.node-type-content-type-invoice .panel-title {
  background-color: #2A2A2A;
  color: #FFFFFF !important; }

.node-type-content-type-invoice .field {
  padding-top: 2px; }

.node-type-content-type-invoice .field-name-field-invoice-company-name .field-item {
  font-size: 30px; }

.node-type-content-type-invoice .group-invoice-adminstrative {
  display: none; }

#sidr-0 {
  background-color: #2A2A2A; }

#sidr-wrapper-0 {
  background-color: #2A2A2A;
  min-height: 8vh;
  max-width: 11vw;
  text-align: center; }

#sidr-0-button {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 30px;
  width: 100%;
  height: 100%;
  position: relative;
  top: 1vh; }

.sidr-class-first {
  text-align: center; }

.sidr-class-hero-image {
  width: 30%;
  padding-top: 3vh;
  padding-bottom: 3vh; }

.sidr-class-leaf, li.sidr-class-active-trail {
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: 1px solid #EFEFEF !important;
  background-color: #2A2A2A;
  padding-bottom: 2vh; }
  .sidr-class-leaf .sidr-class-glyphicon, li.sidr-class-active-trail .sidr-class-glyphicon {
    display: none; }
  .sidr-class-leaf a, li.sidr-class-active-trail a {
    font-family: Roboto; }
  .sidr-class-leaf a.sidr-class-active, li.sidr-class-active-trail a.sidr-class-active {
    font-weight: bold;
    color: #CC0C00; }

.sidr ul li {
  line-height: 20px; }

.sidr ul li.sidr-class-active {
  line-height: 25px; }

@media screen and (max-width: 880px) {
  .form-search .input-group {
    width: 70%;
    margin-left: 10vw; } }

.page-node .field-label {
  font-weight: bold; }
